.saleBadge{
    height: 65px;
    position: absolute;
    top: 0;
    right: 7px;
    border-radius: 0;
    width: 65px;
    padding: 7px 7px;
}
.itemIcon{
    width: 70px !important;
    padding-top: 10px;
}
.nopad {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
/*image gallery*/
.image-checkbox {
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 0;
	outline: 0;
}
.image-checkbox input[type="checkbox"] {
	display: none;
}

.image-checkbox-checked {
	border-color: #d81b60;
}
.image-checkbox .fa {
  position: absolute;
  color: #d81b60;
  background-color: #fff;
  padding: 10px;
  top: 0;
  right: 0;
}
.image-checkbox-checked .fa {
  display: block !important;
}