<div data-role="view" data-title="adidasDesignerHome" data-layout="main-nonav" data-model="app.adidasDesignerHome" data-show="app.adidasDesignerHome.onShow" data-after-show="app.adidasDesignerHome.afterShow" id="adidasDesignerHomeScreen" class="screen">
    <!-- Section: Products v.1 -->
    <!-- Image and text -->
    <nav class="navbar navbar-dark elegant-color">
            <a class="navbar-brand" data-bind="events:{click : homeModel.logout}"  style="padding:0 20px">
              <img src="img/adidas_logo.png" height="70" alt="adidas logo">
            </a>
            
            <a class="navbar-brand pull-right" data-bind="events:{click : homeModel.logout}"  style="padding:10px 20px;">
              <i class="fa fa-sign-out white-text d-inline-block align-top" rel="tooltip" title="Logout" style="font-size: 28px" ></i>
              
            </a>
            <a class="navbar-brand pull-right" onclick="demo.showSwal('checkout')" style="padding:10px 20px;">
              <i class="fa fa-shopping-bag white-text d-inline-block align-top" rel="tooltip" title="Go To Checkout" style="font-size: 28px" ></i>
              <span class="notification">3</span>
              
            </a>

    </nav>
<!-- Section: Products v.3 -->
<section class="text-center my-5" style="padding:4vw 8vw">
    <div class="row" id="cartlist">
    </div>
    
  </section>
  
</div>
<script type="text/x-kendo-template" id="cartlistTemplate">

  #for(var i=0;i <data.length;i++){#
    <div class="col-md-3">
        <div class="card card-product">
          <div class="card-image" data-header-animation="true">
            <a href="">
                <img class="img" src="${data[i].img}">
            </a>
        </div>
    
          <div class="card-content">
            <div class="card-actions">
              <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom"   title="View">
                <i class="material-icons">art_track</i>
              </button>
              <button type="button" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" onclick="demo.showSwal('checkout')" title="Edit">
                <i class="material-icons">edit</i>
              </button>
              <button type="button" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="Remove">
                <i class="material-icons">close</i>
              </button>
            </div>
    
            <h4 class="card-title">
                <a href="" class="dark-grey-text">${data[i].cartItem} </a>
            </h4>
            <div class="card-description">
              
            </div>
          </div>
          <div class="card-footer">
            <div class="price">
                <h2 class="blue-text">
                    <strong>${data[i].price}</strong>
                </h2>
            </div>
            <div class="stats pull-right">
              <p class="category"><i class="material-icons">date_range</i> ${data[i].manufacturedate}</p>
            </div>
          </div>
        </div>
    </div>
    

  #}#
</script>
