<div data-role="view" data-title="Transfer Home" data-layout="main-nonav" data-model="app.adidasTransferHome"
    data-show="app.adidasTransferHome.onShow" data-after-show="app.adidasTransferHome.afterShow" id="adidasTransferScreen"
    class="screen">

    <nav class="navbar navbar-primary navbar-transparent navbar-absolute">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
        
                    <a class="navbar-brand" href="/">Transfer</a>
                </div>
            </div>
        </nav>
    <div class="wrapper">
        <div class="dashboard-page" data-image="img/adidas_bg.jpg">
            <div class="main-panel" style="width:100%">
                <div class="content">
                    <div class="container-fluid">
                        <div class="col-md-8 col-md-offset-2" id="transfercol">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="green">
                                    <i class="material-icons">local_shipping</i>
                                </div>
                                <div class="card-content" style="padding:20px">
                                    <h4 class="card-title">Transfer to Vendor/Manufacture</h4>
                                    <div class="row">
                                        <div class="col-md-12">

                                            <form method="get">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label class="floating-label" for="source">Select Source</label>
                                                        <select id="source" class="form-control" style="width: 100%;">
                                                            <option value="nike">Nike</option>
                                                            <option value="Factory">Nike Factory</option>
                                                            <option value="Wholesale">Wholesale</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="row" id="cartlist" style="padding:20px">

                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <label class="floating-label" for="sender">Select Receiver</label>
                                                        <select id="sender" class="form-control" style="width: 100%;">
                                                            <option value="Factory">Nike Factory</option>
                                                            <option value="E-Commerce">E-Commerce</option>
                                                            <option value="Wholesale">Wholesale</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6 pull-right">
                                                        <button class="btn btn-success btn-round pull-right" data-bind="click: transferModel.createTransfers"
                                                            type="button" style="margin-top: 15px">
                                                            <i class="material-icons">local_shipping</i>
                                                            TRANSFER TO VENDOR
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="" id="factorycol" >
                            <div class="card" id="factoryprocess">
                                <div class="card-header card-header-icon" data-background-color="green">
                                    <i class="material-icons">domain</i>
                                </div>
                                <div class="card-content" style="padding:20px">
                                    <h4 class="card-title">Factory Process</h4>
                                    <p>
                                        You can print the Digital Signature from Factory.
                                    </p>
                                    <div id="qrprint"></div>

                                    <button class="btn btn-success btn-round pull-right"
                                        type="button" style="margin-top: 5px">
                                        <i class="material-icons">print</i>
                                        Print QR
                                    </button>

                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-kendo-template" id="cartlistTemplate">

    #for(var i=0;i <data.length;i++){#
        <div class="col-xs-4 col-sm-3 col-md-3 nopad text-center">
            <label class="image-checkbox">
                <img class="img-responsive" src="${data[i].img}" />
                <input type="checkbox" name="image[]" value="${data[i].barcode}" />
                <i class="fa fa-check hidden" style="font-size:32px"></i>
            </label>
            <p>${data[i].cartItem} </br>
            <strong>${data[i].price}</strong></p>
        </div>
  #}#
  </script>